.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.books {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;
  width: 100%;
  
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 32px; 
}

.books img {
  border-radius: 8px;
  margin-top: 16px;;
}

.books h3, .books p {
  margin: 0;
}